<% include partials/header %>
<div class="container">
  <div class="row">
    <h1>Create a New Campgound</h1>

    <form action="/campgrounds" method="POST">
        <input class="form-control" type="text" name="name" placeholder="name">
        <input class="form-control" type="text" name="image" placeholder="image url">
        <button class="btn-large btn-default">Submit!</button>
    </form>
    
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
<% include partials/footer %>
